CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
*.vs
*.idea
*build
*cmake-build-debug
*.pyc
/Computer-Graphics/MuseumPulseFinal/main.dist
/Computer-Graphics/MuseumPulseFinal/dist
Computer-Graphics/MuseumPulseFinal/main.exe
Computer-Graphics/MuseumPulseFinal/MuseumPulse.spec
