# CMake / build artifacts
*build
*cmake-build-debug
CMakeCache.txt
CMakeFiles
CMakeLists.txt.user
CMakeScripts
CTestTestfile.cmake
Makefile
Testing
_deps
cmake_install.cmake
compile_commands.json
install_manifest.txt

# IDE settings
*.idea
*.vs

# Python / Jupyter
*.ipynb_checkpoints
*.pyc

# Project-specific artifacts
/Computer-Graphics/MuseumPulseFinal/dist
/Computer-Graphics/MuseumPulseFinal/main.dist
Computer-Graphics/MuseumPulseFinal/main.exe
Computer-Graphics/MuseumPulseFinal/MuseumPulse.spec
